<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuringEventLottery">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".view.UserDashboardView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.BrowseEventsView"
            android:exported="false" />
        <activity
            android:name=".view.CreateEventView"
            android:exported="false" />
        <activity
            android:name=".view.MyEventsView"
            android:exported="false" />
        <activity
            android:name=".view.EventDetailsView"
            android:exported="false" />
        <activity
            android:name=".view.MyProfileView"
            android:exported="false" />
        <activity 
            android:name=".view.ManageEventView"
            android:exported="false" />
        <activity
            android:name=".view.EditEventView"
            android:exported="false" />
        <activity 
            android:name=".view.MyNotificationsView"
            android:exported="false" />
        <activity
            android:name=".view.SendNotificationView"
            android:exported="false" />
        <activity
            android:name=".view.AdminDashboardView"
            android:exported="false" />
        <activity
            android:name=".view.BrowseProfilesView"
            android:exported="false" />
        <activity
            android:name=".view.ProfileDetailsView"
            android:exported="false" />
        <activity
            android:name=".view.BrowseOrganizersView"
            android:exported="false" />
        <activity
            android:name=".view.OrganizerDetailView"
            android:exported="false" />
        <activity
            android:name=".view.BrowseNotificationLogsView"
            android:exported="false" />
        <activity
            android:name=".view.NotificationLogDetailView"
            android:exported="false" />
        <activity
            android:name=".view.QRCodeScanActivity"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>